@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.3s ease, color 0.1s ease;
}

* {
  font-family: 'General Sans', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dark {
  --background: #181818;
  --foreground: #fafafa;
}